*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	

}


body{
	background-image: linear-gradient(to right bottom,#f8aa71,#ef7c28);
	background-size: cover;
	background-position: center;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container{
	border: 1px solid transparent;
	background-color: antiquewhite;
	border-radius: 10px;
	
}


.grid-container{
	display: grid;
	grid-gap: 10px;
	background-color:rgb(204, 197, 197);
	padding:10px;
}

.grid-item{
	text-align: center;
	padding:15px;
	font-size: 23px;
	border: 1px solid rgb(71, 71, 71);
	border-radius: 5px;
}

.display{
	grid-column: 1 / span 4;
	background-color: #ffffff;
}

.btn{
	text-decoration: none;
	color:rgb(82, 82, 82);
}

















